footer{
    width: 100% auto;
    /*background-color: cadetblue;*/
    vertical-align: bottom;
    align-content: flex-end;
    section{
        width: 95%;
        height: auto;
        margin-left:2.5%;
        margin-right:2.5%;
        padding: 2rem;
        padding-bottom: 0px;
        background-color: cadetblue;
        .pie2{
            
        }
        .fin{
            text-align: center;
            width: 100%;
            font-size: 1.5rem;
            color: darkred;
            background-color: rgba(7, 78, 78, 1);
        }
        .pie1,.pie2,.pie3{
            display: inline-block;
            padding-left: 2rem;
            padding-right: 2eem;
            li a{
                color: white;
            }
            h5{
                color: darkred;
                font-size: 1.5rem;
            }
        }
    }
}